/* ---------------------- copyright page ---------------------- */


section[data-type="copyright-page"] {
  margin-top: 100px;
  page-break-after: always;
}

section[data-type="copyright-page"] h1 {
  font-size: 0.8em;
}

section[data-type="copyright-page"] p {
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 0;
  text-indent: 0;
}

/* dedication */

section[data-type="dedication"] {
  font-family: serif;
  font-style: italic;
  page-break-after: always;
  text-align: center;
  padding-top: 100px;
}
