/* frontmatter */

section[data-type="halftitlepage"] {
  display: none;
}

section[data-type="titlepage"] {
  text-align: center;
  page-break-after: always;
}

section[data-type="titlepage"] h1 {
  margin-top: 110px;
  padding-bottom: 10px;
  margin-bottom: 165px;
}

section[data-type="titlepage"] h1 {
  font-size: 5em;
  line-height: 120%;
}

section[data-type="titlepage"] h2 {
  font-size: 1.2em;
  line-height: 120%;
  margin-top: 0px;
  margin-bottom: 60px;
}

/* styling and positioning for author names and other text */

section[data-type="titlepage"] p:first-of-type {
  margin-top: 30px;
}

section[data-type="titlepage"] p {
  line-height: 16pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  float: none;
  text-indent: 0;
}

section[data-type="titlepage"] .author {
    margin-bottom: 80pt;
}

